name: price-worker

on:
  schedule:
    - cron: "*/20 * * * *"   # 20 dakikada bir
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: |
          cd worker
          npm init -y
          npm i firebase-admin cheerio node-fetch

      - name: Run worker
        env:
          FIREBASE_SERVICE_ACCOUNT_JSON: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}
        run: |
          node worker/price-worker.js
